NAME = romhack
DOCKER = podman

ASAR_URL = https://github.com/RPGHacker/asar
ADDMUSICK_URL = https://dl.smwcentral.net/31558/AddmusicK%201.0.9.zip
FLIPS_URL = https://dl.smwcentral.net/11474/floating.zip
GPS_URL = https://dl.smwcentral.net/31515/GPS%20%28V1.4.4%29.zip
LUNAR_MAGIC_URL = https://dl.smwcentral.net/35121/lm340.zip
PIXI_URL = https://github.com/JackTheSpades/SpriteToolSuperDelux
TILE_EDITOR_URL = https://github.com/doy/smw-tools
UBERASM_URL = https://dl.smwcentral.net/32657/UberASMTool16.zip
